*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: "h h h h h h h h h h h h"
                        "b1 b1 b1 b2 b2 b2 b3 b3 b3 m m m"
                        "c c c c c c c c c m m m"
                        "f f f f f f f f f f f f";
    gap: 20px;
}
.row > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.header{
    grid-area: h;
    background-color: #1abc9c;
    height: 100px;
}
.box1{
    grid-area: b1;
    background-color: #2ecc71;
    height: 200px;
}
.box2{
    grid-area: b2;
    background-color: #3498db;
    height: 200px;
}
.box3{
    grid-area: b3;
    background-color: #9b59b6;
    height: 200px;
}
.menu{
    grid-area: m;
    background-color: #f1c40f;
    height: auto;
}
.content{
    grid-area: c;
    background-color: #e67e22;
    height: 400px;
}
.footer{
    grid-area: f;
    background-color: #e74c3c;
    height: 150px;
}